.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}

.community-page{
  margin-top:60px;
  background-color: whitesmoke;
  padding: 2%;
  height: 85vh;
}