.header {
  font-family: Arial;
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

.header video {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  margin-top: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col {
  width: 66%;
  text-align: center;
}

.col h2 {
  margin: 0;
  padding: 0;
  color: rgb(244, 166, 71);
  text-shadow: 0 0 5px black;
  font-size: 2em;
}

.ban h2 {
  margin: 2%;
  color: whitesmoke;
  font-size: 3.5em;
  font-weight: 500;
  text-shadow: 0 0 5px black;
}

.ban p {
  margin-top: 8%;
  color: whitesmoke;
  font-size: 1.4em;
  font-weight: 500;
  text-shadow: 0 0 5px black;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-flex {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.button-flex button {
  margin: 1%;
  border-radius: 25px;
  border: 1px dashed;
  color: whitesmoke;
  background: transparent;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  font-size: 18px;
  padding: 2%;
  height: 45px;
}

.main-btns-wrap {
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 55px;
}

.colured-btn {
  margin: 1%;
  border-radius: 25px;
  border: none;
  color: whitesmoke;
  background: #ffbf35;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  font-size: 18px;
  height: 45px;
  padding: 1%;
}

.trans-btn {
  margin: 1%;
  border-radius: 25px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  background: transparent;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  font-size: 18px;
  height: 45px;
  padding: 1%;
}

.population {
  padding: 2% 0 1% 0;
}

.population-count {
  margin: 0;
  padding: 0;
  color: rgb(244, 166, 71);
  font-size: 2.1em;
  text-shadow: 0 0 5px black;
}

.population-count:hover {
  text-decoration: underline;
}

.population p {
  font-size: large;
  font-weight: bold;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
}

.heading {
  margin: 0;
  padding: 2% 0 1% 0;
}

.heading h1 {
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  text-shadow: 0 0 10px black;
}

.heading p {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Georgia, "Times New Roman",
    Times, serif;
  margin: 0 0;
  text-shadow: 0 0 10px black;
}

.join-button-container {
  padding: 2% 0 1% 0;
}

.join-button {
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 20px 0;
  background-color: #ffbf35;
  border: 1px solid #ffbf35;
  width: 200px;
}

/*---- Slidebar CSS---*/

.swipper-container {
  height: 210px;
  width: 90%;
}

.swiper {
  width: 90%;
  height: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(9, 67, 121, 0.5);
  border-radius: 12px;
}
.swiper-slide:hover {
  background-color: rgba(51, 98, 142, 1);
}

.slide-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slide-data img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.slide-data h5 {
  color: #ffbf35;
  margin-bottom: 2px;
}

.slide-data-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.slide-data-text p {
  font-size: 16px;
}

/* @media only screen and (max-width: 627px) {
  .overlay {
    width: 100vh;  
  }
  .col {
    width: 80%;
    margin: 10% 0 0 10%;
  }
}

@media (max-width: 1133px) 
{
  .swipper-container{
    display: none;
  }
} */

@media screen and (min-width: 1024px) {
  .col {
    
    margin-bottom: 3%;
  }

  

  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .swipper-container {
    display: none;
  }
}
