/*========== Navibar CSS ========================*/

.container-nav {
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%; 
  position: fixed;
  top: 20px;  /* change to 0 when scroll up*/
  left: 0;
  z-index: 99;
}

.container-nav.active{
  background: linear-gradient(90deg, rgb(66,2,194) 0%, rgb(0,78,194) 100%);
  top: 0;
}


.topnav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;    
}
/* Add a black background color to the top navigation */

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-text{
  color: white;
  margin-left:15px ; 
  height: fit-content;  
  width: 200px; 
}

.logo-text b{
  font-size: 26px;
  margin: 0;
}

.logo-text p{
  font-size: 16px;
  margin: 2px 0 ;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.container-nav .topnav a:hover {
  color: rgb(27, 27, 27);
}

/*
search button
*/

.button {
    display: inline-block;
    margin: 4px 2px;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    color: black;
}

.search-container {
    position: relative;
    display: inline-block;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    transform: rotate(-45deg);
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    color: black;
}

.search {
    position: absolute;
    left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}


.search:focus {
    width: 363px; /* Bar width+1px */
    padding: 0 16px 0 0;
}

.expandright {
    left: auto;
    right: 49px; /* Button width-1px */
}

.expandright:focus {
    padding: 0 0 0 16px;
}
