.App {
  text-align: center;
  width: 100%;
}


/*----------- Section-7 CSS --------------*/

.news-banner {
  background-color: rgb(227, 227, 186);
  background-image: url("../public/snip2.PNG");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  padding: none;
  color: black;
  text-shadow: 0 0 1px black;
  height: 150px;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}







