.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  width: 90%;
  margin: 48px;
  max-width: 1060px;
}

.banner-a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
  padding: 20px 30px;
  width: 20%;
}

.facebook {
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(74, 74, 163);
}

.twitter {
  background-color: #28c3ed;
}

.youtube {
  background-color: rgb(255, 91, 91);
}

.discord {
  background-color: black;
}

.instagram {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(95, 95, 208);
}

hr {
  width: 90%;
  border-color: #73767c;
  max-width: 1060px;
}

.imp-link {
  margin: 48px;
}

.link-bot {
  margin: 0 10px;
  color: white;
  font-size: 14px;

}

.logo-copyright {
  color: #73767c;
  font-size: 12px;
  min-width: 250px;

}

.sec-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-9 h1 {
  color: #414854;
  font-weight: 700;
  max-width: 400px;
  font-size: 42px;
}

.sec-9 p {
  color: #273651;
  font-size: 24px;
  opacity: 0.8;
}

.sec-9 button {
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 40px;
  background-color: #ffbf35;
  border: 1px solid #ffbf35;
}

.sec-7 {
  background-color: azure;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-7 h1 {
  color: #414854;
  font-size: 42px;

}

.news-grid {
  width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
}

.news-banner {
  background-color: rgb(227, 227, 186);
  background-image: url("../public/snip2.PNG");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  padding: none;
  color: black;
  text-shadow: 0 0 1px black;
  height: 150px;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-banner p {
  width: 80%;
}

.btn-container {
  width: 90%;
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  background-color: rgb(227, 227, 186);
  font-size: 20px;
  border-radius: 50%;
  color: blue;
  border: 2px solid blue;
}

.btn-container button:hover {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: rgb(227, 200, 186);
}

.sec-6 {
  background-color: #2e3645;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sec-6 h1 {
  margin: 60px 0 20px 0;
  font-size: 42px;
}

.sec-6 h6 {
  opacity: 0.5;
  font-size: 20px;
  margin-top: 0;
  font-weight: 600;
}

.history{
  width: 100%;
}
.sec-5{
  background-color: #2e3645;
  color: white;
}
.text{
  
  text-align: left;
  width:50%;
}
.text h1{
  font-size: 42px;
  margin: 0;
}
.text p{
  font-size: 18px;
}
.text button{
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 40px 0;
  background-color: #ffbf35;
  border: 1px solid #ffbf35;
  width: 200px;
  justify-self: flex-end;
}
.citi-card-img{
  width: 40%;
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 80px;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(350deg);
}
.citi-card{
  padding-top: 100px;
  display: flex;
}

.citi-card-img img{
  height:200px
}

.head-of-nation{
  background-color: white;
  border:none;
  margin-top: 100px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height:450px;
  color: black;
  display: flex;
  justify-content: center;
}
.head-of-nation img{
  height: 100%;
}
.head-of-nation-info{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head-of-nation-info button{
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 40px 0px;
  background-color: #ffbf35;
  border: 1px solid #ffbf35;
}
.head-of-nation-info h1{
  font-size: 36px;
  font-weight: 400;
}


/**---------My Css-------------*/

/*========== Navibar CSS ========================*/

.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
 

  
}
/* Add a black background color to the top navigation */
.container-nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(195, 0, 0, 0);
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  

  

  
  
}

/* Style the links inside the navigation bar */
.container-nav .topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

/* Change the color of links on hover */
.container-nav .topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*
search button
*/

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

/*------ Section-1 CSS ------*/
.sec1{
	background-color: #2e3645;
	color: #f8f8f8;
	margin: 0%;
	padding: 0px;
	
}

/*------ Section-2 CSS ------*/
.sec2{
	background-color: #f8f8f8;
	color: #000000;
	margin: 0%;
	padding: 0px;	
}

/*------ Section-3 CSS ------*/
.sec3{
	background-color: #2e3645;
	color: #f8f8f8;
	margin: 0%;
	padding: 0px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
h1{
	margin: 0%;
	padding: 0%;
 }

.container{
	width: 1150px;
	margin: 0px auto 0;
	display: table;
	box-sizing: border-box;
}

.row{
	margin: 20px 0;
}

.column{
	background: #2e3645;
	display: table-cell;
	padding: 10px;
	width: 33.33333%;
	border-right: 10px solid #2e3645;
	border-left: 10px solid #2e3645;
	text-align: left;
}

@media (max-width: 1000px){
	.container{
		margin: 0;
		padding: 10px;
		width: 100%;
	}
	.column{
		width: 100%;
		display: block;
		margin: 10px 0;
		border: none;
		box-sizing: border-box;
	}
	.row{
		margin: 0;
	}
}

.bttnq {
	width: 200px;
    background-color: #ffbf35;
    border: 1px solid #ffbf35;
    border-radius: 27px;
    color: #333943;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 28px;
    text-overflow: ellipsis;
    transition: background-color .15s linear,border .15s linear;
    white-space: nowrap;
	text-decoration: none;
    margin: 20px;
}

.d7af32 {
    fill: #d7a14a;
    border: 2px solid hsla(0,0%,100%,.3);
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.adf66e {
    border: none;
    width: 16px;
}
.e4b0d1 {
    padding: 6px;
}

.sub{
	display: flex;
	align-items: center;
	
}

.pmarg{
	margin-left: 60px;
}

h3{
	margin: 30px;
}

/*----------- Section-4 CSS --------------*/

.sec4{
	background-color: #f8f8f8;
	color: #000000;
	margin: 0%;
	padding: 0px;	
}

/*--------- Header CSS ---------------*/

.header {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: white;
  width: 100%;
  background-color: black;
}

.header video{
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  
}

.col1{
  /*background-color: #28c3ed;*/
  width: 17%;
}

.col2{
  /*background-color: #28c3ed;*/
  width: 66%;
}

.col3{
 /* background-color: #28c3ed;*/
  width: 17%;
}





