.sec3{
	background-color: #2e3645;
	color: #f8f8f8;
	margin: 0%;
	padding: 0px;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container{
	width: 100%;
	margin: 0px auto 0;
	display: table;
	box-sizing: border-box;
}

.row{
	margin: 20px 0;
}

.column{
	background: #2e3645;
	display: table-cell;
	padding: 10px;
	width: 33.33%;
	border-right: 10px solid #2e3645;
	border-left: 10px solid #2e3645;
	text-align: left;
}



.bttnq {
	width: 200px;
    background-color: #ffbf35;
    border: 1px solid #ffbf35;
    border-radius: 27px;
    color: #333943;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 28px;
    text-overflow: ellipsis;
    transition: background-color .15s linear,border .15s linear;
    white-space: nowrap;
	text-decoration: none;
    margin: 20px;
}

.d7af32 {
    fill: #d7a14a;
    border: 2px solid hsla(0,0%,100%,.3);
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.adf66e {
    border: none;
    width: 16px;
}
.e4b0d1 {
    padding: 6px;
}

.sub{
	display: flex;
	align-items: center;
	
}

.pmarg{
	margin-left: 60px;
}

h3{
	margin: 30px;
}

@media (max-width: 1000px){
	.container{
		margin: 0;
		padding: 10px;
		width: 100%;
	}
	.column{
		width: 100%;
		display: block;
		margin: 10px 0;
		border: none;
		box-sizing: border-box;
	}
	.row{
		margin: 0;
	}
}